/* george lychock career website stylesheet */
/* NOTES: 1) all custom classes start with "gl-" to better find in the markup */


/* ######## CSS TOC - In Order of Appearance: */
/* @Imports */
/* Base Element styles */
/* Common styles */
/* Hero styles */

/*NOT USED ......
/* Heading styles */
/* Nav styles */
/* Hover.css styles */
/* Main Content: Home Contact Info styles */
/* Main Content: Home Personal Info styles */
/* Main Content: Resume styles */
/* Main Content: Contact styles */
/* Footer styles */
/* @Media Breakpoint Styles */
/* Container styles */
/* Jumbotron styles */
/* Narbar styles */
/* Buttons */
/* Spacer and Divider styles */
/*########## /CSS TOC */



/* Thinking about putting a copy of all the color styles here; CLASSES only:

.bg-color-name-title {
    background-color: #699;
}
.bg-color-three-reasons {
    background-color: #fff;
}
etc...
*/


/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700&display=swap');

/* Base Element styles */
h1, h2, h3, h4 {
    margin: 0;
}


/* Framework Override styles */
/* Future home of Framework Override styles */
/* I think framework (Bootstrap) Overides should be kept in one location */

/* Common styles */
.uppercase {
    text-transform: uppercase;
}
/* Nav styles */
.gl-navbar-col {
    padding: 0;
    margin: 0;
}
.gl-navbar {
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
}
.gl-navbar a {
    padding: 2px 5px 4px 8px;
    color: wheat;
    text-decoration: none;
}
.gl-navbar a:hover {
    color: whitesmoke;
}

/* Hero styles */
.gl-hero-image {
    height: 800px;
    width: 100%;
    background: url("../images/hero-bridgewater-milling-machineshop-bw-2200w.jpg") no-repeat center center;
   }
.gl-hero-title{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: wheat;
    padding-top: 10%;
}
.gl-hero-title h1 {
    font-size: 4rem;
}