/* george lychock career website stylesheet */



/* ######## CSS TOC - In Order of Appearance: */
/* @Imports */
/* Base Element styles */
/* Common styles */
/* Banner styles */

/*NOT USED ......
/* Heading styles */
/* Nav styles */
/* Hover.css styles */
/* Main Content: Home Contact Info styles */
/* Main Content: Home Personal Info styles */
/* Main Content: Resume styles */
/* Main Content: Contact styles */
/* Footer styles */
/* @Media Breakpoint Styles */
/* Container styles */
/* Jumbotron styles */
/* Narbar styles */
/* Buttons */
/* Spacer and Divider styles */
/*########## /CSS TOC */



/* Thinking about putting a copy of all the color styles here; CLASSES only:

.bg-color-name-title {
    background-color: #699;
}
.bg-color-three-reasons {
    background-color: #fff;
}
etc...
*/


/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


/* Base Element styles */
header {
    margin: 0;
}
footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}
h1, h2, h3, h4 {
    margin: 0;
}
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

/* Framework Override styles */
/* Future home of Framework Override styles */
/* I think framework (Bootstrap) Overides should be kept in one location */


/* Common styles */
.uppercase {
    text-transform: uppercase;
}


/* Banner styles */
.gl-jumbo-bg {
    background-image: url(../images/hero-bridgewater-milling-machineshop-bw.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 800px;
    color: wheat;
}